/*
  ======================================================================
                        Global Variable declaration
  ======================================================================
*/

@import './common.scss';

/* ============= color =============== */
$themeColor: #2d72d9;

$bgColor: #f3f3f3;

$white: #fff;
$black: #000;
